*{
    margin: 10px;
    padding: 10px;
    box-sizing: border-box;
}
.padre{
    display: flex;
    flex-flow: column nowrap;
}
    .header{
        background-color: #000;
        display: flex;
        flex-flow: column nowrap;
    }
        .menu{
            background-color: #143F6B;
            display: flex;
            flex-flow: row nowrap;
            height: 100px;
            align-items: center;
        }
            .logo{
                background-color: #F55353;
                flex: 1 1 auto;
                height: 30px;
            }
            .nav{
                background-color: #F55353;
                flex: 5 1 auto;
                height: 30px;
            }
            .social{
                background-color: #F55353;
                flex: 1 1 auto;
                height: 30px;   
            }
        .texto-principal{
            background-color: #FEB139;
        }
            h1{
                background-color: #F6F54D;
            }
    .section{
        background-color: #000;
        display: flex;
    }
        .articulos{
            background-color: #242F9B;
            flex: 2 1 auto;
            display: flex;
            flex-flow: row wrap;
        }
            .article{
                background-color: #646FD4;
                flex: 1 1 40%;
            }
            .navegacion{
                background-color: #9BA3EB;
                flex: 1 1 100%;
            }
        .aside{
            background-color: #24A19C;
            flex: 1 1 auto;
        }
            .publicidad{
                background-color: #FAEEE7;
            }
    .footer{
        background-color: #000;
        display: flex;
        justify-content: center;
    }
        .pie{
            background-color: #9B0000;
            width: 300px;
        }
@media all and (max-width: 800px){
    .section{
        flex-direction: column;
    }
    .menu{
        flex-direction: column;
        height: auto;
    }
    .aside{
        display: flex;
        justify-content: center;
    }
}

@media all and (max-width: 600px) {
    .articulos{
        flex-direction: column;
    }
    
}

@media all and (max-width: 400px) {
    .aside{
        flex-direction: column;
    }
    
}